# webstorm meta #
.idea/

# node modules folder #
node_modules/

# other #
.DS_STORE
bower_components/

# local config file #
config.js

# built assets #
!core/built/README.md
core/built/**

# assets #
content/resources/css/*
content/resources/js/vendor/*
content/resources/fonts/*

npm-debug.log

# uploads #
content/upload/audio/*
content/upload/shared/*
!content/upload/audio/*.md
!content/upload/shared/*.md