# webstorm meta #
.idea/

# node modules folder #
node_modules/

# other #
.DS_STORE
bower_components/

# local config file #
config.js

# built assets #
!core/built/README.md
core/built/**

# assets #
content/resources/css/*
content/resources/js/*
content/resources/fonts/*


